ul,
li {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  border: 1px solid;
  width: 5rem;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  // flex: auto;
  cursor: pointer;
}

.footer {
  display: flex;
  padding: var(--spacing-md, 12px);
  justify-content: flex-end;
  align-self: stretch;
}
