.menuItem {
  display: flex;
}

.menu {
  margin-right: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  cursor: pointer;
}

.item ul {
  list-style-type: none;
  padding: 0;
}

.item li {
  cursor: pointer;
}

// .menu li.selected {
//   background-color: #afadad;
// }

// .item li.selected {
//   background-color: #afadad;
// }
